<h1><%= @actor.name %></h1>

<p>Age: <%= @actor.age %></p>

<%# <p>List of actor who have co-starred with <%= @actor.name %>: </p>
<%# @actor.costars.each do |costar| %>
<p> <%#= costar.name %> </p>
<%# end %> %>
